{% extends 'website/layout.html' %}
{% block pagetitle %}Microsoft Tech Club FSS{% endblock %}
{% block content_section %}
        <section id="about" class="container-fluid">
            <div class="container media">
                <a class="media-left media-middle" href="#">
                    <i class="media-object fa fa-code fa-5x"></i>
                    <!--<i class="media-object fa fa-flask fa-5x"></i>-->
                    <!--<i class="media-object fa fa-cube fa-5x"></i>-->
                    <i class="media-object fa fa-cubes fa-5x"></i>
                    <!--<i class="media-object fa fa-terminal fa-5x"></i>-->
                </a>
                <div class="media-body media-middle">
                    <h4 class="media-heading">About Us</h4>
                    <p>Notre club destiné aux développeurs passionnés par les nouvelles technologies pour l'amélioration des compétences, la participation des développeurs dans les évènements Microsoft et aussi pour avoir accès aux dernières nouveautés de l'informatique</p>
                    <p>Le Club est animé par des étudiants du FSS qui sont toujours disponibles à fin de vous créer un bon cadre</p>
                </div>
            </div>
        </section>
        <section id="events" class="container">
            <h4>Events<a href="https://www.facebook.com/MTCFss/events" class="pull-xs-right"><small class="text-muted">more »</small></a></h4>
            <div class="card-deck-wrapper">
                <div class="card-deck">
		   {% for evt in events %}
                    <div class="card card-block">
			    <h4 class="card-title">{{ evt.title }}</h4>
			    <p class="card-text">{{ evt.description }}</p>
			    {% for lnk in evt.eventlink_set.all %}
			    <a href="{{ lnk.link }}" class="card-link">{{ lnk.title }}</a>
			{% endfor %}
			<p class="card-text"><small class="text-muted">
			{% if evt.end_date %}
			{{ evt.start_date|date:"F j" }} - {{ evt.end_date|date:"F j" }}
			{% else %}
			{{ evt.start_date|date:"l, F j" }}
			{% endif %}
			</small>
                        </p>
                    </div>
		    {% endfor %}
                </div>
            </div>
        </section>
        <section id="projects" class="container">
            <h4>Projects<a href="https://github.com/mtcfss" class="pull-xs-right"><small class="text-muted">more »</small></a></h4>
            <p>Coming soon...</p>
        </section>
{% endblock %}
