{% extends 'website/layout.html' %}
{% load staticfiles%}
{% block pagetitle %}Open Tech Club, Faculty of Sciences of Sfax{% endblock %}
{% block content_section %}
        <section id="about" class="container-fluid">
            <div id="about-bg"></div>
            <div class="container media">
                <a class="media-left media-middle" href="#">
			<img src="{% static 'website/img/logo.png' %}" />
                </a>
                <div class="media-body media-middle">
                    <h4 class="media-heading">About Us</h4>
                    <p>Notre club destiné aux développeurs passionnés par les nouvelles technologies pour l'amélioration des compétences, la participation des développeurs dans des contests et aussi pour avoir accès aux dernières nouveautés de l'informatique</p>
                    <p>Le Club est animé par des étudiants du FSS qui sont toujours disponibles à fin de vous créer un bon cadre</p>
                </div>
            </div>
        </section>
        <section id="events" class="container">
		<h4>Events<a href="{% url 'events' %}" class="pull-xs-right float-xs-right"><small class="text-muted">more »</small></a></h4>
	    {% for evt in events %}
	    <!-- {% cycle 0 1 2 as mod %} -->
	    {% if mod == 0 %}
            <div class="card-deck-wrapper">
		    <div class="card-deck">
	    {% endif %}
		   <div class="card card-block {% if evt.is_ours %}card-outline-info{% endif %}">
               <h4 class="card-title"><a href="{% url 'event' evt.pk %}">{{ evt.title }}</a></h4>
			    <p class="card-text">{{ evt.description }}</p>
            {% if not evt.is_passed %}
            <a href="{% url 'register' evt.pk %}" class="btn btn-outline-success btn-sm card-link">Register</a>
            {% endif %}
			    {% for lnk in evt.eventlink_set.all %}
			    <a href="{{ lnk.link }}" class="card-link">{{ lnk.title }}</a>
			{% endfor %}
			<p class="card-text"><small>
                    {% if evt.is_passed %}<span class="text-danger">Ended</span> - {% endif %}
			{% if evt.end %}
			{{ evt.start|date:"j F H:m" }} - {{ evt.end|date:"j F H:m" }}
			{% else %}
			{{ evt.start|date:"l, j M H:m" }}
			{% endif %}
			</small>
                        </p>
                    </div>
	    {% if mod == 2 or forloop.last %}
                </div>
	    </div>
	    <br />
	    {% endif %}
            {% endfor %}
        </section>
        <section id="projects" class="container">
            <h4>Projects<a href="https://github.com/fssotc" class="pull-xs-right float-xs-right"><small class="text-muted">more »</small></a></h4>
	    <blockquote class="blockquote mt-2">
		    <p class="mb-0">All our projects are available on our <a href="https://github.com/fssotc"><i class="fa fa-github"></i> GitHub account</a>.</p>
            </blockquote>
        </section>
{% endblock %}
