{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block pagetitle %}Microsoft Tech Club FSS{% endblock %}</title>
    <meta name="description" content="MTCFSS: Microsoft Techincal Club on Faculty of Science of Sfax" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="alternate" type="application/rss+xml" title="MTCFSS Blog Feed" href="{% url 'blog:rss' %}" />
    <!--<script src="script.js"></script>-->
    <link href="{% static 'website/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'website/css/pygmentize.default.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="articale">
        <header class="navbar navbar-light">
            <div class="navbar-header">
              <a href="/"><img src="{% static 'website/img/logo.png' %}" alt="MTCFSS" id="nav-logo" class="navbar-brand" /></a>
                <span class="navbar-brand">
             MTCFSS
        </span>
            </div>
            <ul class="pull-xs-right navbar-nav nav float-xs-right">
                <li><a href="/#about" class="navbar-link">About Us</a>
                </li>
                <li><a href="/#events" class="navbar-link">Events</a>
                </li>
                <li><a href="/#projects" class="navbar-link">Projects</a>
                </li>
                <li><a href="/members" class="navbar-link">Members</a>
                </li>
                <li><a href="/blog" class="navbar-link">Blog</a>
                </li>
                <li><a href="#contact" class="navbar-link">Contact</a>
                </li>
            </ul>
        </header>

        {% block content_section %}{% endblock %}

    </div>
    <footer id="contact" class="container-fuild navbar">
        <ul class="nav nav-inline ext-links">
            <li>
                <a href="https://github.com/mtcfss/" class="fa fa-github-alt"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/MTCFss/" class="fa fa-facebook-square"></a>
            </li>
            <li>
                <a href="mailto:mtcfss@outlook.com" class="fa fa-envelope"></a>
            </li>
            <li>
		<a href="{% url 'blog:rss' %}" class="fa fa-rss"></a>
            </li>
        </ul>
        <ul class="nav">
            <li>Phone: <a href="tel:+21628204299" class="fa fa-phone"> (216) 28 204 299</a>
            </li>
            <li>Address: <a href="https://www.google.com/maps/place/facult%C3%A9+des+sciences+de+Sfax/@34.7268892,10.7204099,17.25z/data=!4m2!3m1!1s0x0000000000000000:0xb58c51e46e842136" class="fa fa-map-marker"> Faculté des sciences de Sfax, 3000 Sfax</a>
            </li>
        </ul>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
