{% extends 'website/layout.html' %}
{% block pagetitle %}MTCFSS Members{% endblock %}
{% block content_section %}
<section class="container">
  <h3>Members</h3>
  <br />
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th width=30px>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for insc in member_list %}
      <tr>
        <td class="text-capitalize">{{ insc.member.name }} {{ insc.member.family_name}}</td>
	<td>{{ insc.member.email}}</td>
	{% if insc.member.username %}
	<td><a href="https://github.com/{{ insc.member.username }}" class="fa fa-github"></a></td>
	{% else %}
	<td>&nbsp;</td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section class="container">
	<h3>Admins</h3>
  <br />
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th width=30px>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for insc in admin_list %}
      <tr>
	<td class="text-capitalize">{{ insc.member.name }} {{ insc.member.family_name}}</td>
	<td>{{ insc.get_role_display }}</td>
        <td>{{ insc.member.email}}</td>
	{% if insc.member.username %}
	<td><a href="https://github.com/{{ insc.member.username }}" class="fa fa-github"></a></td>
	{% else %}
	<td>&nbsp;</td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!--
	<pre class="lang-sh"><code class="language-sh" lang="sh">
$ ls Admins
ls: Admins: not found
	</code></pre>
-->
</section>
{%endblock %}
