{% extends 'website/layout.html' %}
{% block pagetitle %}Fss Open Tech Club Members{% endblock %}
{% block content_section %}
<section class="container members">
  <h3>Members</h3>
  <br />
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="email">Email</th>
        <th class="github" width=30px>&nbsp;</th>
        <th class="university">&nbsp;</th>
        <th class="education">&nbsp;</th>
        <th class="year">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for insc in member_list %}
      <tr>
        <td class="name text-capitalize">{{ insc.member.name }} {{ insc.member.family_name}}</td>
	<td class="email">{{ insc.member.email}}</td>
	{% if insc.member.username %}
	<td class="github"><a href="https://github.com/{{ insc.member.username }}" class="fa fa-github"></a></td>
	{% else %}
	<td class="github">&nbsp;</td>
	{% endif %}
	<td class="university">{{ insc.university }}</td>
	<td class="education">{{ insc.education }}</td>
	<td class="year">{{ insc.year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section class="container admins">
	<h3>Admins</h3>
  <br />
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="role">Role</th>
        <th class="email">Email</th>
        <th class="github" width=30px>&nbsp;</th>
        <th class="university">&nbsp;</th>
        <th class="education">&nbsp;</th>
        <th class="year">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for insc in admin_list %}
      <tr>
	<td class="name text-capitalize">{{ insc.member.name }} {{ insc.member.family_name}}</td>
	<td class="role">{{ insc.get_role_display }}</td>
        <td class="email">{{ insc.member.email}}</td>
	{% if insc.member.username %}
	<td class="github"><a href="https://github.com/{{ insc.member.username }}" class="fa fa-github"></a></td>
	{% else %}
	<td class="github">&nbsp;</td>
	{% endif %}
	<td class="university">{{ insc.university }}</td>
	<td class="education">{{ insc.education }}</td>
	<td class="year">{{ insc.year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!--
	<pre class="lang-sh"><code class="language-sh" lang="sh">
$ ls Admins
ls: Admins: not found
	</code></pre>
-->
</section>
{%endblock %}
