decorators==0.1
Django==1.10.3
django-after-response==0.2.2
django-wordpress-rest==0.1.3
docutils==0.12
jsonfield==1.0.3
mock==2.0.0
pbr==1.10.0
Pygments==2.1.3
python-dateutil==2.5.3
requests==2.11.1
six==1.10.0
