{% extends 'website/layout.html' %}
{% load staticfiles%}
{% block pagetitle %}{{ event.title.capitalize}} Event | Fss Open Tech Club{% endblock %}
{% block content_section %}
<div class="container">
	<div class="alert alert-danger" role="alert">
		<strong>Oops!</strong> Event has passed.
	</div>
	<p><strong>Name:</strong> {{ event.title }}</p>
	{% if event.start_date %}
	<p><strong>Start Date:</strong> {{ event.start_date | date:"D, d M Y" }}</p>
	{% endif %}
	{% if event.end_date %}
	<p><strong>End Date:</strong> {{ event.end_date | date:"D, d M Y" }}</p>
</div>
{% endif %}
{% endblock %}
