{% extends 'website/layout.html' %}
{% load staticfiles%}
{% block pagetitle %}Events | Fss Open Tech Club{% endblock %}
{% block content_section %}
    <p><h1>{{ event.title }}</h1></p>
    <p class="lead">{{ event.description }}</p>
    <p><strong>Address:</strong> <i class="fa fa-map-marker"></i> {{ event.place }}</p>
    {% if event.start %}
    <p><strong>Start Date:</strong> <i class="fa fa-clock-o"></i>
	    {% if event.start.hour == 0 and event.start.minute == 0 %}
	    {{ event.start | date:"D, d M Y" }}
	    {% else %}
	    {{ event.start | date:"D, d M Y H:i" }}
	    {% endif %}
    </p>
    {% endif %}
    {% if event.end %}
    <p><strong>End Date:</strong> <i class="fa fa-clock-o"></i>
	    {% if event.end.hour == 0 and event.end.minute == 0 %}
	    {{ event.end | date:"D, d M Y" }}
	    {% else %}
	    {{ event.end | date:"D, d M Y H:i" }}
	    {% endif %}
    </p>
    {% endif %}
    {% if event.price %}
    <p><strong>Price:</strong> <i class="fa fa-money"></i> {{ event.price }} DT</p>
    {% endif %}
    {% for lnk in event.eventlink_set.all %}
    <p><i class="fa fa-external-link"></i> <a href="{{ lnk.link }}" class="card-link">{{ lnk.title }}</a></p>
			{% endfor %}

    {% if not event.is_passed %}
    <p><a class="btn btn-outline-success" href="{% url 'register' event.pk %}">Register</a></p>
    {% endif %}
{% endblock %}
