{% extends 'website/layout.html' %}
{% load staticfiles%}
{% block pagetitle %}{{ quiz.title.capitalize}} Quiz | Microsoft Tech Club FSS{% endblock %}
{% block content_section %}
<div class="container">
	<div class="alert alert-danger" role="alert">
		<strong>Oops!</strong> Quiz is closed.
	</div>
	{% if quiz.start %}
	<p><strong>Start Date:</strong> {{ quiz.start | date:"D, d M Y H:i (e)" }}</p>
	{% endif %}
	{% if quiz.end %}
	<p><strong>End Date:</strong> {{ quiz.end | date:"D, d M Y H:i (e)" }}</p>
</div>
{% endif %}
{% endblock %}
