{% extends 'website/layout.html' %}
{% load staticfiles%}
{% load shuffle %}
{% load cache %}
{% block pagetitle %}{{ form.instance.quiz.title.capitalize}} Quiz | Microsoft Tech Club FSS{% endblock %}
{% block content_section %}
<form method="post" action="" class="quiz">
    {% csrf_token %}

    {% for field in candidat_form %}
    <p>
        <label class="{% if field.field.required %}required{% endif %}" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
    </p>
    {% endfor %}

    <div class="my-2 clearfix">
	    {% if form.instance.quiz.end %}
	    <span class="tag tag-pill tag-danger float-xs-left">End: {{ form.instance.quiz.end | date:"D, d M Y H:i (e)" }}</span>
	    {% endif %}
         <span class="tag tag-pill tag-primary float-xs-right">Score: {{ score }} / {{ form.max_score }}</span>
    </div>

    {% for field in form %}
    <div class="fieldWrapper form-group">

        {{ field.errors }}

	{% cache 3600 question field.auto_id %}
	<div class="fieldLabel">{{ field.label }}</div>
	{% endcache %}

        {% for check in field|shuffle %}
        <div class="form-check">
            <label class="custom-control custom-checkbox" for="{{ check.id_for_label }}">
              <input type="checkbox" class="custom-control-input"
                id="{{ check.id_for_label }}"
                {% if check.is_checked %} checked="checked" {% endif %}
                name="{{ check.name }}"
                value="{{ check.choice_value }}">
                <span class="custom-control-indicator"></span>
		{% cache 3600 choice check.id_for_label %}
		<span class="custom-control-description">{{ check.choice_label }}</span>
		{% endcache %}
            </label>
          </div>
        {% endfor %}

        {% if field.help_text %}
        <p class="help form-text text-muted">{{ field.help_text|safe }}</p>
        {% endif %}

    </div>
    <hr />
    {% endfor %}

    <input type="submit" value="submit" class="btn btn-primary" />
</form>
{% endblock %}
