{% extends 'website/layout.html' %}
{% block pagetitle %}Fss Open Tech Club Blog{% endblock %}
{% block scripts %}
{% load staticfiles %}
<script src="{% static 'blog/do_prettify.js' %}"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  Array.from(document.getElementsByClassName("adsbygoogle")).forEach(function() {
    (adsbygoogle = window.adsbygoogle || []).push({});
  });
</script>
{% endblock %}
{% block content_section %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog</li>
    </ol>
</nav>
<section>
    {% autoescape off %}
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2482029926365022"
     data-ad-slot="6455608003"
     data-ad-format="auto"></ins>
    {% for post in post_list %}
    <article>

        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><a href="{% url 'blog:post' post.pk %}">{{ post.title }}</a></h3>
                <h6 class="card-subtitle text-muted">{{ post.modified | date:"D, j M"}}</h6>
            </div>
            <div class="card-block">
                <div class="card-text">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </article>
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2482029926365022"
     data-ad-slot="6455608003"
     data-ad-format="auto"></ins>
    {% endfor %}
    {% endautoescape %}
    {% if is_paginated %}
    <nav>
	<ul class="pager">
	{% if page_obj.has_previous %}
	   <li class="pager-prev"><a href="?page={{ page_obj.previous_page_number }}">Older</a></li>
	{% else %}
	   <li class="pager-prev disabled"><a href="#">Older</a></li>
	{% endif %}
	{% if page_obj.has_next %}
	   <li class="pager-next"><a href="?page={{ page_obj.next_page_number }}">Newer</a></li>
	{% else %}
	   <li class="pager-next disabled"><a href="#">Newer</a></li>
	{% endif %}
	</ul>
    </nav>
    {% endif %}
</section>
{% endblock %}
