{% extends 'website/layout.html' %}
{% block pagetitle %}MTCFSS Blog{% endblock %}
{% block content_section %}
<section class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li class="active">Blog</li>
    </ol>
    {% for post in posts %}
    <article>

        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><a href="{% url 'blog:post' post.pk %}">{{ post.title }}</a></h3>
                <h6 class="card-subtitle text-muted">{{ post.modified | date:"D, j M"}}</h6>
            </div>
            <div class="card-block">
                <div class="card-text">
                    {% autoescape off %} {{ post.content }} {% endautoescape %}
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
