{% extends 'website/layout.html' %}
{% block pagetitle %}MTCFSS Blog - {{ post.title }}{% endblock %}
{% block scripts %}
{% load staticfiles %}
<script src="{% static 'blog/do_prettify.js' %}"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&skin=default"></script>
{% endblock %}
{% block content_section %}
<section class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li><a href="/blog/">Blog</a>
        </li>
        <li class="active">{{ post.title }}</li>
    </ol>
    <article>

        <article class="container-fluid">
            <hgroup>
                <h2><a href="{% url 'blog:post' post.pk %}">{{ post.title }}</a></h2>
                <h4><small class="text-muted">{{ post.modified | date:"D, j M"}}</small></h4>
            </hgroup>
            <br />
            <div>
                {% autoescape off %} {{ post.content }} {% endautoescape %}
            </div>
        </article>
</section>
{% endblock %}
