import os

## For production deployment, see:
## https://docs.djangoproject.com/en/1.11/howto/deployment/checklist/

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

## Change the key to your secret genereted key
SECRET_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

## Set False to disable Debug mode
DEBUG = True

## Append Hosts list
ALLOWED_HOSTS = []
INTERNAL_IPS = ('127.0.0.1',)

## Set you database configuration
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
        'CONN_MAX_AGE': None,
    }
}

## Append Admins list
ADMINS = []
# MANAGERS = []

# admin dashboard path: '^' + ADMIN_PATH + '/'
ADMIN_PATH = 'admin'

## Change Caches settings
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
        'TIMEOUT': None,
        'OPTIONS': {
            'MAX_ENTRIES': 1000
        }
    }
}

## Set to None to enable presistent database connection
CONN_MAX_AGE = 0

## Uncomment to enable static files
# STATIC_ROOT = os.path.join(BASE_DIR, 'static/')

## Security settings: https://docs.djangoproject.com/en/1.10/topics/security/

# SESSION_COOKIE_SECURE = not DEBUG
# CSRF_COOKIE_SECURE = True
# SECURE_SSL_REDIRECT = True
# SECURE_HSTS_SECONDS = 15768000  # 6 months
# SECURE_HSTS_INCLUDE_SUBDOMAINS = True
# SECURE_BROWSER_XSS_FILTER = True
# SECURE_CONTENT_TYPE_NOSNIFF = True

## Performance Optimization: https://docs.djangoproject.com/en/1.10/topics/performance/

## TODO

## Tracking settings

# GOOGLE_ANALYTICS_PROPERTY_ID = 'UA-xxxxxxx-x'
# GOOGLE_ANALYTICS_DISPLAY_ADVERTISING = True
# GOOGLE_ANALYTICS_SITE_SPEED = True

# PIWIK_DOMAIN_PATH = 'your.piwik.server/optional/path'
# PIWIK_SITE_ID = '123'


# EMAIL_HOST = 'smtp.googlemail.com'
# EMAIL_PORT = 587
# EMAIL_HOST_USER =
# EMAIL_HOST_PASSWORD =
# EMAIL_USE_TLS = True
# DEFAULT_FROM_EMAIL =
# SERVER_EMAIL = DEFAULT_FROM_EMAIL

# SENDGRID_API_KEY =

# WP_API_SITE_ID =
